<div class="main">
  <ul class="cards">
    <li class="cards_item">
      <div class="card">
        <div class="card_image1"><% pokemon = Pokemon.all[0] %>
        <%= image_tag url_for(:controller => "pokemons", :action => "image", :id => pokemon.id) %></div>
        <div class="card_content">
          <h2 class="card_title">Card Grid Layout</h2>
          <p class="card_text">Demo of pixel perfect pure CSS simple responsive card grid layout</p>
          <button class="btn card_btn">Read More</button>
        </div>
      </div>
    </li>
    <li class="cards_item">
      <div class="card">
        <div class="card_image1"><% pokemon = Pokemon.all[1] %>
        <%= image_tag url_for(:controller => "pokemons", :action => "image", :id => pokemon.id) %></div>
        <div class="card_content">
          <h2 class="card_title">Card Grid Layout</h2>
          <p class="card_text">Demo of pixel perfect pure CSS simple responsive card grid layout</p>
          <button class="btn card_btn">Read More</button>
        </div>
      </div>
    </li>
    <li class="cards_item">
      <div class="card">
        <div class="card_image1"><% pokemon = Pokemon.all[2] %>
        <%= image_tag url_for(:controller => "pokemons", :action => "image", :id => pokemon.id) %></div>
        <div class="card_content">
          <h2 class="card_title">Card Grid Layout</h2>
          <p class="card_text">Demo of pixel perfect pure CSS simple responsive card grid layout</p>
          <button class="btn card_btn">Read More</button>
        </div>
      </div>
    </li>
    <li class="cards_item">
      <div class="card">
        <div class="card_image2"><% pokemon = Pokemon.all[3] %>
        <%= image_tag url_for(:controller => "pokemons", :action => "image", :id => pokemon.id) %></div>
        <div class="card_content">
          <h2 class="card_title">Card Grid Layout</h2>
          <p class="card_text">Demo of pixel perfect pure CSS simple responsive card grid layout</p>
          <button class="btn card_btn">Read More</button>
        </div>
      </div>
    </li>
    <li class="cards_item">
      <div class="card">
        <div class="card_image2"><% pokemon = Pokemon.all[4] %>
        <%= image_tag url_for(:controller => "pokemons", :action => "image", :id => pokemon.id) %></div>
        <div class="card_content">
          <h2 class="card_title">Card Grid Layout</h2>
          <p class="card_text">Demo of pixel perfect pure CSS simple responsive card grid layout</p>
          <button class="btn card_btn">Read More</button>
        </div>
      </div>
    </li>
    <li class="cards_item">
      <div class="card">
        <div class="card_image2"><% pokemon = Pokemon.all[5] %>
        <%= image_tag url_for(:controller => "pokemons", :action => "image", :id => pokemon.id) %></div>
        <div class="card_content">
          <h2 class="card_title">Card Grid Layout</h2>
          <p class="card_text">Demo of pixel perfect pure CSS simple responsive card grid layout</p>
          <button class="btn card_btn">Read More</button>
        </div>
      </div>
    </li>

    <li class="cards_item">
      <div class="card">
        <div class="card_image3"><% pokemon = Pokemon.all[6] %>
        <%= image_tag url_for(:controller => "pokemons", :action => "image", :id => pokemon.id) %></div>
        <div class="card_content">
          <h2 class="card_title">Card Grid Layout</h2>
          <p class="card_text">Demo of pixel perfect pure CSS simple responsive card grid layout</p>
          <button class="btn card_btn">Read More</button>
        </div>
      </div>
    </li>

    <li class="cards_item">
      <div class="card">
        <div class="card_image3"><% pokemon = Pokemon.all[7] %>
        <%= image_tag url_for(:controller => "pokemons", :action => "image", :id => pokemon.id) %></div>
        <div class="card_content">
          <h2 class="card_title">Card Grid Layout</h2>
          <p class="card_text">Demo of pixel perfect pure CSS simple responsive card grid layout</p>
          <button class="btn card_btn">Read More</button>
        </div>
      </div>
    </li>

    <li class="cards_item">
      <div class="card">
        <div class="card_image3"><% pokemon = Pokemon.all[8] %>
        <%= image_tag url_for(:controller => "pokemons", :action => "image", :id => pokemon.id) %></div>
        <div class="card_content">
          <h2 class="card_title">Card Grid Layout</h2>
          <p class="card_text">Demo of pixel perfect pure CSS simple responsive card grid layout</p>
          <button class="btn card_btn">Read More</button>
        </div>
      </div>
    </li>
  </ul>
</div>