<p id="notice"><%= notice %></p>

<div class="main">
  <div class="cards">
  
<p>
  <%= image_tag @pokemon.pokemon_image %>
</p>

<p>
  <h1><%= @pokemon.name %></h1>
</p>
  

  <p>
  <strong>#</strong>
  <%= @pokemon.id %>
</p>

<div class="DescBot"

<p>
  <strong>description:</strong>
  <%= @pokemon.description %>
</p>

<p>
  <strong>species:</strong>
  <%= @pokemon.species %>
</p>

<p>
  <strong>height:</strong>
  <%= @pokemon.height %>
</p>

<p>
  <strong>weight:</strong>
  <%= @pokemon.weight %>
</p>

<p>
  <strong>abilities:</strong>
  <%= @pokemon.abilities %>
</p>

<p>
  <strong>egg_cycle:</strong>
  <%= @pokemon.egg_cycle %>
</p>

</div>

<!--<p>-->
<!--  <strong>pokemon_type:</strong>-->
  <%#= @pokemon.pokemon_type %>
<!--</p>-->

</div>
</div>

<!--<%#= link_to 'Edit', edit_pokemon_path(@pokemon) %> |-->
<%= link_to 'Back', root_path %>


